<div class="meta">
  <div class="create">
    <span class="fa fa-clock-o"></span>
    <%= object.created_at.strftime("%Y/%m/%d") %>
  </div>
  <div class="update">
    <span class="fa fa-history"></span>
    <%= object.updated_at.strftime("%Y/%m/%d") %>
  </div>
</div>