<% provide(:title, "404 Not Found") %>
<div class="heading">
  <h1>404 Not Found</h1>
  <p>お探しのページは見つかりませんでした。</p>
</div>

<div class="content">
  <%= image_tag "404.png", alt: "404 Not Found" %>
</div>