<% provide(:title, "500 Server Error") %>
<div class="heading">
  <h1>500 Server Error</h1>
  <p>申し訳ございません。要求を処理できませんでした。</p>
</div>

<div class="content">
  <%= image_tag "500.png", alt: "500 Server Error" %>
</div>