<div class="main-wrapper">
  <div class="main">
    <div class="heading">
      <h1>500 Internal Server Error</h1>
      <p>申し訳ございません。要求を処理できませんでした。</p>
    </div>

    <div class="content">
      <%= image_tag "500.png", alt: "500 Internal Server Error" %>
    </div>
  </div>
</div>