<% provide(:title, "検索結果") %>

<div class="heading">
  <h1>検索結果</h1>
  <p>キーワード：<%= @keyword %></p>
  <p><%= page_entries_info @articles, entry_name: "キーワード" %></p>
</div>

<% if @articles.any? %>
  <div class="search-result" id="search-result">
    <ul>
      <li class="search-result-navi">
        <h2>
          <span class="fa fa-search"></span>
          検索結果
        </h2>
      </li>
      <% @articles.each do |article| %>
        <% summary = extract_substring(plaintext(article.summary) + plaintext(article.content), @positive_keywords, 50) %>
        <%= render "shared/article_navi", article: article, summary: summary %>
      <% end %>
    </ul>
  </div>

  <div class="pagination-wrapper">
    <%= paginate @articles, params: { controller: :searches, action: :index, anchor: "search-result" } %>
  </div>
<% end %>
