/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* 共通レイアウト */
* {
  box-sizing: border-box; /* paddingとborderを要素のサイズに含める */
}

ul, ol, li {
  list-style-type: none; /* リストの黒点や連番を取り消す */
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none; /* リンクの下線を取り消す */
  color: #1a0dab;
}

a:visited {
  color: #660099;
}

a:hover {
  color: #b22222;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  outline-width: 0; /* カーソル時の枠線を取り消す */
}

html {
  font-family: "Avenir Next", "Hiragino Sans", sans-serif;
  line-height: 1.5; /* 文字の高さ(フォントサイズの1.5倍) */
  letter-spacing: 0.1em; /* 文字の間隔 */
  font-size: 16px; /* remの基準値 */
  color: #333;
}

h1 {
  font-size: 32px;
  font-size: 2rem; /* 32px以下に可変 */
}

h2 {
  font-size: 20px;
  font-size: 1.25rem; /* 20px以下に可変 */
}

h3 {
  font-size: 18px;
  font-size: 1.125rem; /* 18px以下に可変 */
}

p {
  font-size: 1rem; /* 16px以下に可変 */
  line-height: 2;
}

pre {
  margin: 0px;
}

code {
  font-family: "Avenir Next", "Hiragino Sans", sans-serif;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.1em;
}

img {
  max-width: 100%; /* 画像サイズは親要素のサイズを最大値として物理サイズで表示する */
  display: block; /* 画像の下側にある余白を消す */
  /* background-image: url("loading.gif");
  background-repeat: no-repeat;
  background-position: center center; */
}

body {
  margin: 0px;
  background-color: #eee;
}

.clear {
  clear: both; /* フロート状態の要素のサイズをその親要素に含める */
}

/* タブレット向けレイアウト */
@media screen and (max-width: 800px) {
  /* 共通レイアウト */
  html {
    /* remの基準値を画面横幅の2%に調整する */
    font-size: 2vw;
  }
}

/* スマートフォン向けレイアウト */
@media screen and (max-width: 400px) {
  /* 共通レイアウト */
  html {
    /* remの基準値を画面横幅の3%に調整する */
    font-size: 3vw;
  }
}
