/* 画像一覧 */
.image-list {
  p {
    padding-top: 1rem;
    color: red;
    font-weight: bold;
  }

  /* コピーボタン */
  .copy-to-clip {
    position: relative;

    input {
      width: 14rem;
      height: 2rem;
      border: 1px solid #bbb;
      border-radius: 4px;
      background-color: #eee;
      font-size: 1rem;
      padding-right: 2rem;
    }

    button {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 2rem;
      height: 2rem;
      color: #333;
      border: 0;
      cursor: pointer;
      font-size: 1rem;
      background: inherit;

      &:hover {
        color: #1a0dab;
      }
    }
  }
}
