/* 画像一覧 */
.image-list {
  margin-bottom: 1rem;

  p {
    margin-top: 1rem;
    color: red;
    font-weight: bold;
  }

  /* コピーボタン */
  .copy-to-clip {
    margin-top: 1rem;
    position: relative;

    input {
      width: 14rem;
      height: 2rem;
      border: 1px solid #bbb;
      border-radius: 4px;
      background-color: #eee;
      font-size: 1rem;
      padding-right: 2rem;
    }

    button {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 2rem;
      height: 2rem;
      color: #333;
      border: 0;
      cursor: pointer;
      font-size: 1rem;
      background: inherit;

      &:hover {
        color: #1a0dab;
      }
    }
  }

  /* 削除ボタン */
  .button-link {
    a {
      display: inline-block;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 1rem;
      padding: 1px 0.5rem;
      height: 2rem;
      line-height: calc(2rem - 4px);
      text-align: center;
      letter-spacing: normal;
      background-color: #3a3a3a;
      color: white;
      cursor: pointer;
      margin-top: 1rem;

      &:hover {
        background-color: #7a7a7a;
      }
    }
  }
}
