// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* カテゴリーのメニュー */
.category-menu {
  ul{
    padding-bottom: 1rem;
  }

  li {
    padding-top: 1rem;
    padding-bottom: 2px;
  }

  .category-navi {
    border-bottom: 1px solid #333;

    h2 {
      display: inline;
    }
  }

  .article-navi {
    border-bottom: 1px solid #eee;

    &::before {
      content: "・";
    }

    a {
      font-weight: bold;
    }
  }
}
