/* デバッグ情報 */
.debug_dump {
  background-color: #fcfcfc;
  // border: 1px solid #ccc;
  // border-radius: 3px;
  font-family: "Avenir Next", "Hiragino Sans", sans-serif;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 0.1em;
  padding: 0px 0.5rem;
  margin: 1rem, 0px;
  overflow-x: auto;
}
