/* フッター */
.footer-wrapper {
  height: 3rem;
  width: 100%;
  border-top: 1px solid #bbb;

  .footer-menu {
    max-width: 1000px;
    margin: 0px auto;

    ul {
      padding-right: 1rem;
    }

    li {
      float: right;

      span {
        color: #777;
        display: inline-block;
        font-size: 1rem;
        padding-left: 1rem;
        line-height: 3rem;
      }

      a {
        @extend span;

        &:hover {
          color: #1a0dab;
        }
      }
    }
  }
}

/* タブレット、スマートフォン向けレイアウト */
@media screen and (max-width: 800px) {
  .footer-wrapper {
    border-top: none;
  }
}

@media screen and (max-width: 400px) {
  .footer-wrapper {
    .footer-menu {
      li {
        span,
        a {
          font-size: 0.75rem;
          padding-left: 0.75rem;
          line-height: 2.25rem;
        }
      }
    }
  }
}
