/* ヘッダー */
.header-wrapper {
  height: 3rem;
  background-color: #eee;
  width: 100%;

  .header-container {
    max-width: 1000px;
    margin: 0px auto;

    /* ロゴ */
    .header-logo {
      float: left;

      a {
        color: #333;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0px 1rem;
        display: inline-block;
        line-height: 3rem;
      }
    }

    /* サイト内検索機能 */
    .search-form {
      float: right;
    }
  }
}

/* サイト内検索機能のトグルボタン */
.search-form-icon {
  display: none;

  label {
    font-size: 1.5rem;
    line-height: 3rem;
    position: absolute;
    top: 0px;
    right: 2.5rem;
    padding-right: 1rem;
    cursor: pointer;

    &::before {
      content: "\f002";
      font-family: FontAwesome;
      // font-weight: 900;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ label {
    position: fixed;
    right: 1rem;
    padding-right: 0px;
    z-index: 3;

    &::before {
      content: "\02716";
      color: white;
      // font-weight: 900;
    }
  }
}

/* サイドメニュー */
.side-menu {
  display: none;

  label {
    font-size: 1.5rem;
    line-height: 3rem;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 1rem;
    cursor: pointer;
  }

  input[type="checkbox"] {
    display: none;
  }

  .side-menu-list {
    width: 30vw;
    min-width: 150px;
    background-color: #3a3a3a;
    height: 100vh; /* 画面の高さの100% */
    position: fixed;
    top: 0px;
    right: -100vw; // 要素を画面外に隠す
    z-index: 2;
    // display: none;
    transition: right 300ms 0s ease-in; // アニメーションさせる

    li:hover {
      background-color: #7a7a7a;
    }

    a {
      color: white;
      display: block;
      font-size: 1.5rem;
      padding: 0px 1rem;
      line-height: 3rem;
    }
  }

  /* チェック状態ならラベルを非表示にする */
  // input[type="checkbox"]:checked ~ label {
  //   display: none;
  // }

  /* チェック状態ならメニューを表示する */
  input[type="checkbox"]:checked ~ .side-menu-list {
    // display: inline-block;
    right: 0px;
  }
}

/* 編集メニュー */
.edit-menu {
  max-width: 1000px;
  margin: 0px auto;
  position: relative;

  label {
    font-size: 1.5rem;
    line-height: 3rem;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 1rem;
    cursor: pointer;
    color: white;
    transition: opacity 200ms 0s ease;
  }

  .disable {
    cursor: default;
  }

  input[type="checkbox"] {
    display: none;
  }

  .edit-menu-list {
    transition: max-height 200ms 0s ease;
    overflow: hidden;
    max-height: 0;
    min-width: 6rem;
    position: absolute;
    top: 3rem;
    right: 1rem;
    background-color: #3a3a3a;
    box-shadow: 0px 2px 6px #ccc;

    li:hover {
      background-color: #7a7a7a;
    }

    a {
      display: block;
      font-size: 1rem;
      line-height: 2rem;
      color: white;
      padding: 0px 0.5rem;
    }
  }

  input[type="checkbox"]:checked ~ label {
    opacity: 0.5;
  }

  input[type="checkbox"]:checked ~ .edit-menu-list {
    max-height: 100vh;
  }
}

/* メニューバー */
.menu-bar-wrapper {
  height: 3rem;
  background-color: #3a3a3a;
  width: 100%;

  .menu-bar {
    max-width: 1000px;
    margin: 0px auto;

    li {
      float: left;

      &:hover {
        background-color: #7a7a7a;
      }
    }

    a {
      color: white;
      display: inline-block;
      font-size: 1.5rem;
      padding: 0px 1rem;
      line-height: 3rem;
    }
  }
}

/* タブレット、スマートフォン向けレイアウト */
@media screen and (max-width: 800px) {
  /* ヘッダー */
  .header-wrapper {
    border-bottom: 1px solid #bbb;

    /* サイト内検索機能のレイアウトを変更する */
    .search-form {
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 2;
      width: 100%;
      background-color: #3a3a3a;
      display: none;

      form {
        width: calc(100% - 2.5rem);

        input[type="search"] {
          width: 100%;
        }
      }
    }
  }

  /* サイト内検索機能のトグルボタンを表示する */
  .search-form-icon {
    display: block;
  }

  /* サイドメニューを表示する */
  .side-menu {
    display: block;
  }

  /* 編集メニューのレイアウトを変更する */
  .edit-menu {
    position: static; /* relativeを解除する */

    label {
      color: #333;
      top: 0px;
      right: 5rem;
    }

    .edit-menu-list {
      right: 6rem;
    }
  }

  /* メニューバーを非表示にする */
  .menu-bar-wrapper {
    display: none;
  }
}
