/* トップページのメニュー */
.top-menu {
  margin-bottom: 1rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .top-box {
    border: 2px solid #777;
    border-radius: 6px;
    width: calc(50% - 0.5rem);

    .title {
      padding: 0.5rem 0.5rem 0 0.5rem;
    }

    .summary {
      padding: 0.5rem 0.5rem 0 0.5rem;

      p {
        color: #333;
      }
    }

    .meta {
      padding: 0.5rem 0.5rem 0 0.5rem;
      line-height: 1.5rem !important;

      .status,
      .update,
      .create {
        margin-left: 0.75rem !important;
        font-size: 0.75rem !important;
      }
    }

    &:hover {
      background-color: #f4f5f7;
    }
  }
}

/* 最新情報 */
.latest-updates {
  margin-bottom: 1rem;
}

/* タブレット、スマートフォン向けレイアウト */
@media screen and (max-width: 800px) {
  .top-menu {
    ul {
      flex-direction: column;
    }

    .top-box {
      width: 100%;
    }
  }
}
