/* メインコンテンツ */
.main-wrapper {
  max-width: 1000px;
  margin: 0px auto;
  padding: 1rem;

  .main {
    background-color: white;
    padding: 1rem;
    border: 1px solid #eee;
    box-shadow: 0px 2px 6px #ccc;

    /* ぱんくずリスト */
    .breadcrumb {
      li {
        display: inline-block;
        margin-right: 0.5rem;
      }

      .fa-angle-right {
        margin-right: 0.5rem;
      }

      a {
        color: #777;
        line-height: 2rem;

        &:hover {
          color: #1a0dab;
        }
      }
    }

    /* 見出し */
    .heading {
      padding: 1rem 0px;

      h1 {
        border-bottom: 2px solid #333;
      }

      p {
        padding-top: 1rem;
      }
    }

    /* メタデータ */
    .meta {
      color: #777;
      line-height: 2rem;

      /* 記事のステータス */
      .status {
        float: right;
        margin-left: 1rem;
      }

      /* 作成日時 */
      .create {
        float: right;
        margin-left: 1rem;
      }

      /* 更新日時 */
      .update {
        float: right;
        margin-left: 1rem;
      }
    }

    /* 目次(Table of Contents) */
    .toc {
      background-color: #fcfcfc;
      border: 2px solid #777;
      padding-bottom: 1rem;
      margin: 1rem 0px;

      .toc-table {
        transition: max-height 300ms 0s ease;
        overflow: hidden; // 閉じた際に子要素を非表示にする
        max-height: 100vh;
      }

      p {
        padding: 1rem 0px 0px 1rem;
        display: inline-block;
      }

      a {
        text-decoration: underline;
      }

      /* 入れ子のレベルごとにカウンターを初期化 */
      ul {
        counter-reset: toc_counter;
      }

      li {
        padding: 1rem 1rem 0px 1rem;

        /* カウンターを付与する */
        &::before {
          counter-increment: toc_counter;
          /* 各レベルのカウンターを.で区切って結合し、末尾に.を付与する */
          content: counters(toc_counter, ".") ".";
        }
      }

      /* チェックボックスを非表示にする */
      input[type="checkbox"] {
        display: none;
      }

      /* 未チェック状態のラベル */
      label:after {
        content: "[閉じる]";
        padding-right: 1rem;
      }

      /* チェック状態のラベル */
      input[type="checkbox"]:checked ~ label:after {
        content: "[開く]";
        padding-right: 1rem;
      }

      /* チェック状態なら目次を閉じる */
      input[type="checkbox"]:checked ~ .toc-table {
        // display: none;
        max-height: 0;
      }
    }

    /* ページング機能 */
    .pager {
      a {
        color: #777;
        line-height: 2rem;

        &:hover {
          color: #1a0dab;
        }
      }

      .previous {
        float: left;
      }

      .next {
        float: right;
      }
    }
  }
}

/* タブレット、スマートフォン向けレイアウト */
@media screen and (max-width: 800px) {
  .main-wrapper {
    padding: 0;

    .main {
      box-shadow: none;
    }
  }
}
