@import "easymde/dist/easymde.min";

.CodeMirror,
.CodeMirror-scroll {
  // z-index: 0;
  min-height: 25rem !important;
  max-height: 50rem;
}

.CodeMirror-fullscreen {
  max-height: none;

  .CodeMirror-scroll {
    max-height: none;
  }
}

.editor-toolbar {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;

  button {
    font-size: 1rem;
    color: #333;
  }
}

.editor-toolbar.fullscreen {
  white-space: nowrap;
  overflow: auto hidden;
}

.dragDropArea {
  border: #ddd dashed 5px !important;
  background-color: #f4f4f4;
}

.editor-preview,
.editor-preview-side {
  background-color: white;
}

.editor-preview-side {
  border-right: none;
  border-bottom: none;
}
