@import "simplemde/dist/simplemde.min";

.CodeMirror,
.CodeMirror-scroll {
  // z-index: 0;
  min-height: 25rem;
  max-height: 50rem;
}

.editor-preview,
.editor-preview-side {
  background-color: white;
}
