/* 検索結果 */
.search-result {
  ul{
    padding-bottom: 1rem;
  }

  li {
    padding-top: 1rem;
  }

  a {
    font-size: 1.25rem; /* 20px以下に可変 */
    font-weight: bold;
  }

  p {
    font-size: 0.875rem; /* 14px以下に可変 */
    color: #4d5156;
  }
}
