/* 検索結果 */
.search-result {
  ul{
    padding-bottom: 1rem;
  }

  li {
    padding-top: 1rem;
    padding-bottom: 2px;
    border-bottom: 1px solid #eee;

    &::before {
      content: "・";
    }
  }

  a {
    font-weight: bold;
  }
}
