/* バリデーションエラー */
.error_explanation {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
  border-radius: 4px;
  padding-bottom: 1rem;
  margin: 1rem 0px;

  p {
    color: #a94442;
    padding: 1rem 1rem 0px 1rem;
  }

  .error_list {
    ul {
      counter-reset: error_counter;
    }

    li {
      padding: 1rem 1rem 0px 1rem;
      color: red;

      &::before {
        counter-increment: error_counter;
        content: counter(error_counter) ".";
      }
    }
  }
}

/* バリデーションエラー */
.field_with_errors {
  label {
    color: red;
  }

  input,
  textarea,
  select {
    border-color: #a94442;
    color: #a94442;
  }

  .CodeMirror {
    border-color: #a94442;
  }
}
