<div class="main-wrapper">
  <div class="main">
    <p>
      <strong>Name:</strong>
      <%= @category.name %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @category.title %>
    </p>

    <p>
      <strong>Category Order:</strong>
      <%= @category.category_order %>
    </p>

    <p>
      <strong>Parent Category Id:</strong>
      <%= @category.parent_category_id %>
    </p>
  </div>
</div>