<div class="search-form">
  <%= form_tag "#", { method: "get" } do %>
    <input type="search" placeholder="サイト内検索" name="keyword">
    <button class="search-button"><span class="fa fa-search"></span></button>
  <% end %>
</div>